<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997572323211-70b5ua7cvvm0j8lh90t19b5a7ct2t4ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997572323211-70b5ua7cvvm0j8lh90t19b5a7ct2t4ga</string>
	<key>API_KEY</key>
	<string>AIzaSyDaX33ic7cp9StkopDo0aIlpEM7Otw89lU</string>
	<key>GCM_SENDER_ID</key>
	<string>997572323211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthAndDoctorAppointment</string>
	<key>PROJECT_ID</key>
	<string>medicare-38125</string>
	<key>STORAGE_BUCKET</key>
	<string>medicare-38125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997572323211:ios:11ecc5dc383339a0dfb18e</string>
</dict>
</plist>